language: bash

env:
    global:
    - GIT_AUTHOR_EMAIL=gepuro@gmail.com
    - GIT_AUTHOR_NAME~gepuro
    - HUGO_VERSION=0.32.1
    - GIT_URL=https://git@github.com/gepuro/gepulog.git

before_install:
  - mkdir -p .ssh
  - openssl aes-256-cbc -K $encrypted_6d24ef37b060_key -iv $encrypted_6d24ef37b060_iv -in gepulog.enc -out .ssh/gepulog -d

install:
  - wget https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_Linux-64bit.tar.gz
  - tar xzf hugo_${HUGO_VERSION}_Linux-64bit.tar.gz

before_deploy:
#  - git remote set-url origin ${GIT_URL}
#  - git fetch origin gh-pages:remotes/origin/gh-pages
#  - git worktree add -B gh-pages public origin/gh-pages
#  - ./hugo

deploy:
  skip_cleanup: true
  provider: script
  script: scripts/deploy.sh
  on:
    branch: master
